# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# uv
.uv/

# PyInstaller
*.spec

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# environmental vars
.env
.env.*

# coverage
.coverage
htmlcov/
coverage.xml
